.appBar{
    border-radius: 15px !important;
    margin:30px 0 !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.image{
    margin-left: 15px;
}

.heading{
    color: rgba(0, 183, 255,1) !important;
}